html {
  // Установка базового размера шрифта и модели бокса для всего документа
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  // Наследование модели бокса у всех элементов
  box-sizing: inherit;
}

body {
  // Стили для тела документа
  margin: 0; // Удаление внешних отступов
  padding: 0; // Удаление внутренних отступов
  font-family: "Public Sans", sans-serif; // Установка шрифта
  font-size: $font-sm; // Установка размера шрифта (переменная)
  color: $grayishBlue; // Установка цвета текста (переменная)
  line-height: 1.3; // Установка межстрочного интервала
  font-weight: 300; // Установка насыщенности шрифта
  min-height: 300vh;

  @include breakpoint-up(large) {
    font-size: $font-med;
  }
  &.noscroll{
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  // Удаление подчеркивания у всех ссылок
  text-decoration: none;
}
// spacing
.container {
  max-width: 69.375rem;
  margin: 0 auto;
  // padding: 1rem 2rem;
  &--pall {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem; 
    padding-left: 1.5rem;

    @include breakpoint-up(large) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
  &--px {
    padding-right: 1.5rem; 
    padding-left: 1.5rem;

  }
  &--py {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include breakpoint-up(large) {
      padding-top: 3rem;
      padding-bottom: 3rem;
      
    }
  }

  &--pt {
    padding-top: 1.5rem;
    @include breakpoint-up(large) {
      padding-top: 3rem;
    }
  }

  &--pr {
    padding-right: 1.5rem; 

  }

  &--pb {
    padding-bottom: 1.5rem;

    @include breakpoint-up(large) {
      padding-bottom: 6rem;
    }

  }

  &--pl {
    padding-left: 1.5rem;

  }
}

// headinng
h1, h2, h3 {
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2.31rem;
  
  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  
  @include breakpoint-up(large) {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;

  }
}

.flex {
  // Основные стили для элементов с дисплеем flex
  display: flex;

  &-js-sb {
    // Расстановка элементов с пространством между ними
    justify-content: space-between;
  }

  &-js-c {
    // Расстановка элементов по центру
    justify-content: center;
  }

  &-ai-c {
    // Выравнивание элементов по центру по вертикали
    align-items: center;
  }
}

button,
.button {
  display: inline-block;
  // Стили для кнопок
  padding: 0.675rem 2.1875rem; // Установка отступов
  background: linear-gradient(
    to right,
    $gray,
    $brightCyan
  ); // Установка градиента фона (переменные)
  border: 0; // Удаление границы
  border-radius: 50px; // Создание скругленных углов
  cursor: pointer; // Изменение указателя при наведении
  color: $white; // Установка цвета текста (переменная)
  font-weight: 400; // Установка насыщенности шрифта
  font-size: $font-sm; // Установка размера шрифта для "вызова к действию" (переменная)
  transition: opacity 300ms ease-in-out; // Установка анимации перехода непрозрачности
  &:hover {
    opacity: 0.75; // Изменение непрозрачности при наведении
  }
}

.hide-for-mobile {
  // Скрытие элемента для мобильных устройств
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  // Скрытие элемента для настольных устройств
  @include breakpoint-up(large) {
    display: none;
  }
}
